<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.dnrps.nfc" version="0.0.0">

    <name>NFC</name>

    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/nfc.js" target="js/nfc.js" />

    <js-module src="www/nfc.js" name="nfc">
        <clobbers target="nfc" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Nfc">
                <param name="android-package" value="com.dnrps.nfc.Nfc" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC" />
            <uses-feature android:name="android.hardware.nfc" android:required="true" />
        </config-file>

        <source-file src="libs/android/nxpnfcliblite.jar" target-dir="libs" framework="true" />

        <source-file src="src/android/Nfc.java" target-dir="src/com/dnrps/nfc/" />
    </platform>
</plugin>